.config
.config.old
.vimws
_site/*
_theme_packages/*
Thumbs.db
.DS_Store
!.gitkeep
.rbenv-version
.rvmrc

arch/
scripts/
drivers/
kernel/
lib/
fs/
include/
mm/
.tmp_versions/
*.o
*.cmd
*.elf
*.img
*.swp
